body {
  margin: 0;
  padding: 0;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.canvas {
  border: 1px dashed black;
}
